.task-container{
    display: grid;
    grid-template-columns: 4fr 1fr;
}
.books-container{
    margin: 20px;
    margin-top: 60px;
}
.books-container h1{
    color: orange;
}
.books-card{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 15px;
}
.activities{
    background-color: lightgray;
    padding: 15px;
}

/* for mobile devices */
@media only screen and (max-width: 688px){
    .task-container{
        display: block;
    }
    .books-card{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-row-gap: 10px;
    }
}
