.profile img{
    width: 70px;
    height: 70px;
    border-radius: 100px;
}
.profile{
    display: flex;
}
.profile-info{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: #FFFFFF;
    padding-left: 20px;
    margin: 10px 0;
    border-radius: 10px;
}
.profile-info h4{
    margin-bottom: 0;
}
.profile-info p{
    padding-top: 0;
    margin-top: 0;
}
.break-info{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    background-color: #FFFFFF;
    padding-left: 20px;
    margin: 10px 0;
    border-radius: 20px;
    text-align: center;
}
.break-info h4{
    border: 1px solid red;
    border-radius: 50px;
    margin-right: 15px;
}
.break-info h4:hover{
    background-color: lightcoral;
    border: none;
}
.study-time{
    background-color: #FFFFFF;
    border-radius: 10px;
}
.study-time h4{
    padding: 10px;
}
.break-time{
    background-color: #FFFFFF;
    border-radius: 10px;
}
.break-time h4{
    padding: 10px;
}
.activities-btn{
    padding: 15px 25px;
    margin-left: 40px;
    border: none;
    border-radius: 20px;
    background-color: skyblue;
    font-size: medium;
}
.activities-btn:hover{
    background-color: lightcoral;
    color: white;
}